.button{
    background-color: purple;
    width: 80px;
   height: 40px;
   border: none;
  border-radius: 3px;
}
.form-control-lg{
    border: 1px solid black;
}
@media only screen and (max-width: 760px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    
    }
  }