table,
                                    td,
                                    th {
                                        border: 1px solid black;
                                    }
            
                                    table {
                                        border-collapse: collapse;
            
                                    }
            
                                    th {
                                        height: 50px;
                                    }
                                    .button{
                                        background-color: orangered;
                                    }
                                    .button1{
                                        background-color: purple;
                                    }