*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#forgotpassword label{
    font-size: 16px;
}
#forgotpassword .form-control{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-size: 18px;
    /* margin-top: 100%; */
    /* margin-bottom: 10%; */
}
#forgotpassword .btn-primary{
    background-color: #01a3a4;
     width: 377px; 
    border-radius: 50px;
    height: 50px;
    font-size: 25px; 
    /* padding-top: 1px; */
}
#forgotpassword p{
    text-align: center;
    color: #01a3a4;
}
#forgotpassword p.one{
    text-align: center;
    color: black;
}
#forgotpassword i{
    color: #01a3a4;
    font-size: 35px;
    }
#forgotpassword .img-fluid{
        width: 940px;
        height: 776px; 
    }
#forgotpassword .mainclassName{
        margin-top: 260px;
    }
#forgotpassword .form-control-lg{
       padding: 10px;
       padding-left: 70px;
    }
#forgotpassword .fas{
        position: relative;
        display: block;
        left: -150px;
        font-size: 25px;
        top: 39px;
        color: black;
}
#forgotpassword .signclassName{
        color: #01a3a4;
    }
h5 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
     } 
     
h5 span { 
         background:#fff; 
         padding:0 10px; 
        }